body{
    background-color: dimgray;
}
header{
    color: rgb(12, 13, 78)5)255, 0);
}
.carousel {
    margin: auto;
    height: 40%;
    width: 40%;
}

h1{
    color: rgb(65, 211, 211);
}
h5 {
 color:rgb(221, 50, 164);
}